#scroll-track {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  gap: 2rem;
}

.project-display-container {
  gap: 10rem;
  position: relative;
  height: 20rem;
}

.animation-container {
  position: absolute;
  flex-direction: row;
  gap: 0.5rem;
}

#link-container {
  flex-direction: row;
  gap: 1rem;
}

#link-dot {
  border-radius: 100%;
  width: 2px;
  height: 2px;
  background-color: white;
}

#scroll-title {
  font-size: 18px;
}

.dot-container {
  position: relative;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 4px solid white;
  position: absolute;
}

.image {
  width: 45rem;
  height: 20rem;
  object-fit: cover;
  object-position: center 100%;
}

#centerDiv {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 1.7rem;
  height: 1.7rem;
  background-color: aliceblue;
}

/* -------------------------
text
-------------------------- */

h3 {
  color: white;
}

.slide-up-text {
  position: relative;
}

.description-container {
  transition: all ease 0.3s;
}
.hidden-text {
  overflow: hidden;
  display: flex;
}

.text-container {
  width: 10rem;
  background-color: darkcyan;
  position: relative;
}

.description-container {
  width: 12rem;
  height: 0rem;
  overflow: hidden;
  /* transform: scaleY(1); */
  /* background-color: darkmagenta; */
  /* position: absolute; */
}

.animation-text-container {
  position: absolute;
  /* width: 15rem; */
  /* height: 13rem; */
  /* right: 0; */
  /* background-color: darkgoldenrod; */

  /* transition: width ease 0.5s;
  transition: height ease 0.5s;
  transition: scale ease 0.5s; */
}
