#scroll-track {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  gap: 2rem;
}

.project-display-container {
  gap: 10rem;
  position: relative;
  height: 20rem;
}

.animation-container {
  position: absolute;
  flex-direction: row;
  gap: 2rem;
}

#link-container {
  flex-direction: row;
  gap: 1rem;
}

#link-dot {
  border-radius: 100%;
  width: 2px;
  height: 2px;
  background-color: white;
}

#scroll-title {
  font-size: 18px;
}

.dot-container {
  position: relative;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 4px solid white;
  position: absolute;
}

.image {
  width: 45rem;
  height: 20rem;
  object-fit: cover;
  object-position: center 100%;
}

#centerDiv {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 1.7rem;
  height: 1.7rem;
  background-color: aliceblue;
}
