#contact-container {
  height: 100vh;
  gap: 1rem;
  position: relative;
}

#letter-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.letter-hidden-text {
  overflow: hidden;
  display: flex;
  width: 30rem;
  /* background-color: red; */
}

.letter-words {
  transform: translateY(25px);
}

#letter-hidden-input {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

/* -----------------------------
input container
-------------------------------- */
#contact-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* gap: 3rem; */
  position: relative;
}

#contact-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  border-bottom: solid 1px grey;

  /* transition: ; */
  font-size: 17px;
  /* width: 15rem; */
}

#contact-input:focus {
  border-bottom: solid 1px white;
}

#contact-label {
  position: absolute;
  /* font-size: 12px; */
  /* left: 1px; */
  color: grey;
  bottom: 1px;
}

/* --------------------------------
post script
----------------------------------- */
#ps-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-size: 16px;
}

#ps-input {
  resize: none;
  background-color: transparent;
  outline: none;
  border: solid 1px grey;
  border-radius: 3px;
  color: white;
  width: 28.5rem;
  height: 8.5rem;
  padding: 0.5rem;
}

#ps-input:focus {
  border: solid 1px white;
}
/* --------------------------------
buttons
----------------------------------- */
#button-container {
  margin-top: 1.5rem;
  position: relative;
  width: auto;
}
.contact-hidden-button {
  display: flex;
  gap: 0.5rem;
  width: auto;
  overflow: hidden;
}
.contact-button {
  background-color: transparent;
  border: none;
  /* border: solid 1px transparent; */
  border-radius: 5px;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  /* width: 5rem; */
  height: 2rem;
  transform: translateY(32px);
  transition: background-color ease 0.2s;
  /* transition: color ease 0.3s; */
}

.contact-button:hover {
  background-color: rgb(255, 255, 255, 0.1);
  /* border: solid 1px black; */
  /* color: black; */
  cursor: pointer;
}

#send-button {
  border-radius: 6px;
  background-color: white;
  color: black;
  font-size: 14px;
}
#send-button:hover {
  padding-left: 1.2;
  padding-right: 1.2;
}

#add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  padding: 0;
}

#tooltip {
  position: absolute;
  width: 4rem;
  top: -28px;
  right: 361px;

  font-size: 12px;
  background-color: rgb(10, 10, 10);
  border-radius: 5px;
  height: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#email-validate-state {
  position: absolute;
  transform: translateY(20px);
  right: 0;
}
