#contact-container {
  height: 100vh;
  gap: 1rem;
}

#letter-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.letter-hidden-text {
  overflow: hidden;
  display: flex;
}

.letter-words {
  transform: translateY(25px);
}
.letter-hidden-text:nth-child(1) {
  margin-bottom: 1rem;
}
#letter-words-1 {
  margin-left: 2rem;
}

/* .letter-words:nth-child() {
  margin-top: 1rem;
} */
