* {
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-drag: none;
}
body {
  background-color: rgb(30, 30, 30);
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

p,
a {
  color: white;
  text-decoration: none;
}

#center {
  /* background-color: rgb(60, 60, 60); */
  width: 70rem;
  height: 100vh;
}
/* ---- global class ---- */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-card {
  border-radius: 10px;
}

.general-transition {
  transition: all ease 0.3s;
}
/* ---- nav menu ---- */

#nav-menu-hover-container {
  position: absolute;

  min-width: 10rem;
  min-height: 12rem;

  z-index: 100;

  transition: background-color ease 0.3s;
}
#nav-menu-hover-container:hover {
  background-color: rgb(40, 40, 40);
}

#nav-menu-container {
  gap: 5px;
}

.nav-menu-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dot {
  position: absolute;
  left: -14px;
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 100%;
}

#link-selected div {
  display: inline;
}

#link-not-selected div {
  display: none;
}
